.footer {
    color: #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    padding: 80px 50px;
    background-color: #333;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.logo {
    font-size: 32px;
    line-height: 44px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: color .4s ease;
}

.elem {
    margin-top: 24px;
    font-weight: 400;
}

.platform {
    font-weight: 400;
}

.link {
    margin-top: 24px;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}

.link:hover, .first:hover {
    text-decoration: underline;
}

.first {
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}