.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: visible;
    background-color: #fff;
    display: flex;
    justify-content: center;
    
}

.page_header {
    display: flex;
    align-items: center;
    max-width: 1600px;
    gap: 74px;
    min-height: 80px;
    border-bottom: 1px solid #eaeaea;
}

.link {
    flex-shrink: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.first {
    color:#3971FF;
    flex-shrink: 0;
    font-size: 40px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.first {
    transition: color .4s ease;
}

.item_nav {
    display: flex;
    align-items: center;
    justify-content: center !important;
    min-width: 0;
    color: #333;
    font-size: 22px;
    line-height: 22px;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center !important;
    min-width: 0;
    color: #333;
    font-size: 22px;
    line-height: 26.63px;
}

.menu_item {
    position: relative;
    color:black;
    flex-shrink: 0;
    margin-right: 44px;
    text-decoration: none;
    transition: all ease .5;
}

.activeMenu {
    border-bottom: 2px solid #f90;
}

.menu_item:hover {
    border-bottom: 2px solid #f90;
}

.header_info {
    display: flex;
    margin-left: 81px;
    margin-right: 59px;
    min-height: 24px;
}

.info {
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 16px;

}

.blog_phone {
    display: flex;
    margin-bottom: -6px;
}

.item_phone {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s ease;
    margin-bottom: 6px;
}

.info {
    color: #666;
    font-size: 12px;
    line-height: 10px;
}

.menu_item_d {
    position: relative;
}

.menu_item_d::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 7.4px;
    background-image: url('../../../shared/assets/home/header/arrow-down.svg');
    right: -20px;
    top:9.8px;
}

.dropdown {
    position: absolute;
    top: calc(110%);
    left: 0;
    margin-top: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
    display: none;
}

.dropdown::after {
    content: '';
    display: block;
    top: -30px;
    height: 30px;
    left: 0;
    right: 0;
    position: absolute;
}

.menu_item_d:hover .dropdown {
    display: block;
    z-index: 999;
}


.dropdown_menu {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown_menu:hover {
    background-color: #f0f0f0;
}

.auth {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
}

.register {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1;
    background: transparent;
    color: #3971FF !important;
    cursor: pointer !important;
    margin-right: 44px;
}

.login {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1;
    background: transparent;
    color: #3971FF !important;
    cursor: pointer !important;
}