.price {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    overflow: hidden;
    background-color: #fff;
}

.content {
    position: absolute;
    width: 100%;
}

.right {
    width: 50%;
    height: 589px;
    background-color: #f90;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto !important;
}

.leftSide {
    width: 533px;
    margin: 40px 159px 0 0;
}

.rightSide {
    width: 508px;
    margin-top: 66px;
    padding-left: 110px;
}

.title {
    padding-bottom: 24px;
    font-size: 40px;
    color: #333;
    line-height: 51px;
}

.subtitle {
    color:#333;
    font-size: 24px;
    line-height: 30px;
}

.subSpace {
    padding-bottom: 16px;
}

.text {
    padding-bottom: 16px;   
    color:#666;
    font-size: 16px;
    line-height: 22px;
}

.top {
    margin-top:56px;
    margin-bottom: 24px;
}