.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4100;
    overflow: visible;
    height: 100vh;
}

.page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 72px;
    padding-left: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.item_nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center !important;
    min-width: 0;
    max-width: 900px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center !important;
    min-width: 0;
    max-width: 900px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
}

.menu_item {
    position: relative;
    flex-shrink: 0;
    margin-right: 40px;
}

.header_info {
    display: flex;
    justify-content: flex-end;
    min-height: 24px;
}

.info {
    flex-shrink: 0;
    padding-right: 16px;
}

.blog_phone {
    display: flex;
    margin-bottom: -6px;
}

.item_phone {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s ease;
    margin-bottom: 6px;
}

.info {
    color: #666;
    font-size: 12px;
    line-height: 10px;
}

.menu_item_d {
    position: relative;
}

.dropdown {
    position: absolute;
    top: calc(110%);
    left: 0;
    margin-top: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
    display: none;
}

.dropdown::after {
    content: '';
    display: block;
    top: -30px;
    height: 30px;
    left: 0;
    right: 0;
    position: absolute;
}

.menu_item_d:hover .dropdown {
    display: block;
    z-index: 999;
}


.dropdown_menu {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown_menu:hover {
    background-color: #f0f0f0;
}
